body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}
/* atalho para comentar ctrl + ; */

.container{
    width: 75%;
    margin: auto;
}

.header{
    background-color: yellowgreen;
    color: #232323;
    /* height: 100px; */
    overflow: auto; /*Tamanho dos elementos que tiverem dentro do div */
    border-bottom: 3px solid #232323;
    padding: 30px 0 30px 0;
}

ul{
    list-style: none;
}

/* li{
    float: left;
} */

.navbar{
    float: right;
}

/* body .header .navbar li{
    float: left;
} */

.navbar li{
    float: left;
    margin-left: 10px;
    text-transform: uppercase;
}

.titulo{
    float: left;
    margin: 0px;
}

.destaque{
    color: #487eb0;
}


/* BANNER */

.banner{
    text-align: center;
    background-color: palevioletred;
    background-image: url('img/banner.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}

.banner h1 {
    margin: 0;
    font-size: 50px;
    padding-top: 150px;
}

.banner h3 {
    color: #555555;
}

/*    Saiba mais   */

.saiba-mais button{
    border:0;
    background-color: yellowgreen;
    color: #232323;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: 25px;
    cursor: pointer;

}

.saiba-mais{
    text-align: center;
    background-color: #487eb0;
    height: 90px;
}

/* MISSÃO, VISSÃO E VALORES */

.box img{
    height: 100px;
}
.box{
    /* border: 1px solid red; */
    overflow: auto;
}

.box-item{
    float: left;
    text-align: center;
    width: 27%;
    padding: 3%;
    margin-top: 30px;
}

.footer{
    text-align: center;
    background-color: yellowgreen;
    height: 40px;
}

.footer h4{
    margin: 0px;
    font-weight: 100px;
    color: white;
    padding-top: 10px;
}

/* -------------------------------------------------Página Sobre------------------------------------------ */

.fundo_cinza{
    background-color:#576574;
    height: 380px;
}

.bloco_cinza1{
    background-color: #8395a7;
    height: 200px;
    float: left;
    margin-top: 50px;
    width: 40%;
    padding: 3%;
    text-align: center;
    border-bottom: solid 4px yellowgreen;
    margin-left: 2%;
    font-size: 17px;
    border-radius: 10px;
}

.bloco_cinza2{
    background-color: #8395a7;
    height: 200px;
    float: right;
    margin-top: 50px;
    width: 40%;
    padding: 3%;
    text-align: center;
    border-bottom: solid 4px yellowgreen;
    margin-left: 2%;
    border-radius: 10px;
}

.time{
    background-color: #222f3e;
    height: 380px;
}

.time h2{
    color: white;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 40px;
}

.container_quadrado{
    float: left;
    width: 20%;
    margin: auto;
    text-align: center;
}

.quadrado{
    background-color: yellowgreen;
    width: 150px;
    height: 130px;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    font-size: 13px;
    color: white;
}

.icone{
    width: 100px;
    height: 100px;
    margin-top: 12px;
}

.quadrado h4{
    color: white;
    font-size: 17px;
}

.fundo_cinza1{
    background-color:#576574;
    height: 320px;
    padding-top: 50px;
}

.bloco_cinza3{
    background-color: #8395a7;
    height: 200px;
    width: 95%;
    padding: 3%;
    text-align: center;
    border-bottom: solid 4px yellowgreen;
    margin-left: 2%;
    font-size: 17px;
    border-radius: 10px;
    margin: auto;
}